<%-include("partials/header.ejs") %>
<!-- FontAwesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/addposts.css">

<% if(error){ %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
<% } if(success) { %>
    <div class="alert alert-success" role="alert"><%= success %></div>
<% } %>

<div class="formAreabg">
    <div class="formArea">
        <form action="/posts/addposts" method="post" enctype="multipart/form-data" id="addForm">
            <div class="title">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Upload Post</h1>
                    </div>
                    <div class="col-md-6 text-end">
                        <button type="submit" class="btn1"><i class="fa-solid fa-circle-plus me-2"></i>Add Post</button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="formContent">
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="imageArea">
                            <label class="dropbox" id="dropbox" for="images">
                                <i class="fas fa-upload"></i>
                                <span>Drop images to Upload or <span style="color: rgb(92, 181, 240);">browse</span></span>
                            </label>
                            <input type="file" id="images" name="images" multiple accept="image/*" />
                        </div>
                        <div id="imagePreview" class="mt-3"></div>
                    </div>
                </div>

                <hr style="height: 10px; border-radius: 5px; background-color: rgb(2, 204, 255);">

                <div class="row">
                    <div class="col-md-12">
                        <div class="input">
                            <label for="title">Title:</label>
                            <input type="text" name="title" id="title" placeholder="Enter Title...." />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input">
                            <label for="category">Category:</label>
                            <select id="category" name="category">
                                <option value="all">-Select-</option>
                                <option value="Free">Free</option>
                                <option value="Paid">Paid</option>
                                <option value="Recruiments">Recruiments</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input">
                            <label for="eventEndDate">Event End Date:</label>
                            <input type="date" id="eventEndDate" name="eventEndDate" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input">
                            <label for="club">Club:</label>
                            <input type="text" placeholder="Enter Club Name...." id="club" name="club" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input">
                            <label for="registerlink">Registeration Link:</label>
                            <input type="text" placeholder="Enter Link...." id="registerlink" name="registerlink" />
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="input">
                            <label for="content">Content(Max Length=500 words):</label>
                            <textarea name="content" id="content" cols="30" rows="5" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/addPosts.js"></script>
<div class="homeChatBot">
    <%-include("partials/chatBot.ejs") %>
</div>
<%-include("partials/footer.ejs") %>
